# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Eonweb specifics
*.eot binary
*.EOT binary
*.gif binary
*.GIF binary
*.jar binary
*.JAR binary
*.jpeg binary
*.JPEG binary
*.png binary
*.PNG binary
*.ttf binary
*.TTF binary
*.woff binary
*.WOFF binary
